@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  --spotify-green: #1DB954;
  --spotify-black: #191414;
}

body {
  height: 100vh;
  background: linear-gradient(var(--spotify-black), black);
  display: grid;
  place-items: center;
}

.connect-button {
  background: var(--spotify-green);
  border: none;
  padding: 1rem 3rem;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 0.08rem;
}

.punchline {
  width: 300px;
  border-radius: 50%;
  border: 10px solid var(--spotify-green);
}
